.About {
  min-height: 100vh;
  background-color: white;
  padding-top: 10vh;
}
.About h1 {
  margin-left: 2rem;
  padding-top: 0.8rem;
  font-size: 2.1rem;
  color: blue;
  font-family: "Poppins";
}
.About .abcontent .contentab-par {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}

.About .imagesab .about-img {
  /* margin-left: auto;
  margin-right: auto; */
  height: 10rem;
  width: 10rem;
  padding: 0.3rem;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}
.About .about-img:hover {
  height: 11rem;
  width: 11rem;
}

.abcontent {
  display: block;
  margin-left: 1.2rem;
  margin-right: 2rem;
  padding: 0.3rem;
  color: gray;
  font-size: smaller;
}
.abcontent .contentab-par {
  /* background-color: white; */
  padding: 0.6rem;
  border-radius: 10%;
}
.abcontent .contentab-par p:hover {
  color: black;
}
/* big mobile (≥ 1px) */
@media (min-width: 481px) {
  .About {
    /* max-width: 768px; */
    margin-right: 0.6rem;
  }
  .abcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    order: 2;
  }
  .About .imagesab {
    display: grid;
    place-items: center;
    width: 100%;
  }
  .About .imagesab .about-img {
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    height: 12rem;
    width: 12rem;
    padding: 0.3rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-radius: 30%;
  }
  .About .imagesab .about-img:hover {
    height: 13rem;
    width: 13rem;
  }
  .contentab-par {
    max-width: 85vh;
    display: grid;
    place-items: center;
    order: 1;
  }
}
/* tablet (≥ 768px) */
@media (min-width: 768px) {
  .About {
    /* max-width: 1024px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 60px; */
    /* padding: 20px; */
  }

  .About h1 {
    font-size: 2.5rem;
    width: 95%;
    margin: 0;
    padding-left: 1.2rem;
    /* padding-top: 5rem; */
  }
  .About p {
    font-size: larger;
  }
  .abcontent {
    flex-wrap: nowrap;
    width: 95%;
    margin: 0;
    min-height: 80vh;
    top: 3.1rem;
  }
  .imagesab {
    order: 2;
    margin: 0;
    padding: 0;
  }
  .About .imagesab .about-img {
    height: 16rem;
    width: 16rem;
  }
  .About .imagesab .about-img:hover {
    height: 17rem;
    width: 17rem;
  }
  .contentab-par {
    order: 1;
    max-width: 55%;
    padding: 0;
    margin: 0;
  }
  .docab {
    order: 3;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
}
/* Small Laptops (≥ 1024px) */
@media (min-width: 1024px) {
  .About {
    /* max-width: 1280px; */
    width: 100%;
  }
  .contentab-par {
    max-width: 60%;
    min-height: 55vh;
  }
  .About .imagesab .about-img {
    height: 17rem;
    width: 17rem;
  }
  .About .imagesab .about-img:hover {
    height: 18rem;
    width: 18rem;
  }
  .contentab-par p {
    font-size: 1.1rem;
  }
}

/* Desktops (≥ 1280px) */
@media (min-width: 1280px) {
  .About {
    width: 100%;
  }
  .About h1 {
    font-size: 3.5rem;
  }
  .contentab-par p {
    font-size: 1.2rem;
  }
  .About .imagesab .about-img {
    height: 19rem;
    width: 19rem;
  }
  .About .imagesab .about-img:hover {
    height: 20rem;
    width: 20rem;
  }
}
