.Contact {
  background-color: white;
  color: blue;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont {
  display: flex;
  flex-direction: column; /* Agar elemen tersusun ke bawah */
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  max-width: 90%;
  padding-bottom: 2rem;

  /* background-color: black; */
}

.Fill-Box {
  display: flex;
  flex-direction: column;
  /* padding: 0.6rem; */
}
input {
  width: 90%;
  padding: 0.6rem;
  margin: 0.06rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.3rem;
}

textarea {
  width: 90%;
  padding: 0.6rem;
  margin: 0.06rem;
  height: 80%;
  border: 0.06rem solid #ccc;
  border-radius: 0.3rem;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  color: blue;
  background-color: #ccc;
}
.tact {
  background-color: #000;
  height: 40vh;
  display: flex;
}
.tact-half {
  width: 60%;
  color: #aaa;
  padding: 1.1rem;
  margin: auto;
}
.tact-half a {
  color: #66f;
}
.tact-half a:hover {
  color: darkblue;
}
.item-icons {
  display: flex;
}
.Cont-Icons {
  font-size: 1.5rem; /* Adjust the icon size */
  color: blue; /* Change the icon color */
  margin: 0.3rem; /* Add spacing between icons */
}

.pic-cont {
  width: 100%;
  height: 100%;
  background-image: url("/assets/background.jpg");
  background-position-x: center;
  background-size: auto;
  background-repeat: no-repeat;
}
@media (max-width: 376px) {
  .cont h1 {
    font-size: xx-large;
  }
  .cont p {
    font-size: x-small;
  }
}
@media (min-width: 480px) {
  .Fill-Box {
    width: 70vh;
  }
  .tact {
    width: 100%;
  }
}
/* Tablets (≥ 768px) */
@media (min-width: 768px) {
  .Contact {
    flex-direction: row;
  }
  .cont {
    width: 90%;
    height: auto;
  }
  .Fill-Box {
    padding-top: 0;
    width: 80%;
  }
  textarea {
    height: 100%;
  }
  .tact {
    height: 100vh;
    width: 60%;
  }
  .tact-half {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    margin: 0 auto;
    margin-top: 3rem;
    background-image: url("/assets/background.jpg");
    background-position-x: center;
    /* background-size: contain; */
    background-repeat: no-repeat;
  }
  .pic-cont {
    display: none;
    height: 0;
    width: 0;
  }
  .item-icons {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .cont {
    width: 100%;
  }
  .Fill-Box {
    width: 80%;
    max-width: 90vh;
  }
}
