.Home {
  height: 100vh;
  text-decoration: none;
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 100%;
  padding-top: 10vh;
}
.Home .content {
  text-align: left;
  width: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Home .content p {
  padding: 0;
  margin: 0;
}
.Home .content h1 {
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
  transition: 0.5s;
}
.Home .content h1:hover {
  font-size: 4rem;
  transition: 0.5s;
  color: blue;
}
.contentext {
  width: 15rem;
}
.pos,
.Hi {
  font-size: 1rem;
}
.pos {
  width: 115%;
}
.loc {
  font-size: 0.8rem;
  color: antiquewhite;
}
.Image-Mot {
  display: flex;
  justify-content: center;
  height: 100%;
}

.img-background {
  height: 12rem;
  width: 12rem;
  opacity: 70%;
}
@media (max-width: 376px) {
  .Home {
    max-width: 100%;
  }
  .Home .content h1 {
    font-size: 2rem;
  }
  .Home .content h1:hover {
    font-size: 2.2rem;
  }
  .pos,
  .Hi {
    font-size: 0.8rem;
  }
  .loc {
    font-size: 0.5rem;
    color: antiquewhite;
  }
  .img-background {
    height: 11rem;
    width: 11rem;
  }
}
/*large mobile (≥ 481px) */
@media (min-width: 481px) {
  .Home {
    /* max-width: 768px; */
    max-width: 100%;
  }
  .Home .content {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .contentext {
    width: 16rem;
  }
  .img-background {
    width: 13rem;
    height: 13rem;
  }
}

/* Tablets (≥ 768px) */
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Home {
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Home .content {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .Home .content h1 {
    font-size: 4rem;
  }
  .Home .content h1:hover {
    font-size: 4.5rem;
  }
  .Home .contentext {
    padding-left: 5rem;
  }
  .Home .Image-Mot {
    padding-right: 1rem;
  }
  .Image-Mot {
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
  }
  .img-background {
    width: 14rem;
    height: 14rem;
  }
  .pos {
    width: 110%;
  }
}

/* Small Laptops (≥ 1024px) */
@media (min-width: 1024px) {
  .Home {
    max-width: 100%;
    /* width: 80%; */
  }

  .Home .content h1 {
    font-size: 5rem;
  }
  .Home .content h1:hover {
    font-size: 5.5rem;
  }

  .pos {
    width: 120%;
    font-size: 1rem;
  }
  .Hi {
    font-size: 1.5rem;
  }
  .loc {
    font-size: 0.9rem;
    color: antiquewhite;
  }
  .img-background {
    height: 17rem;
    width: 17rem;
  }
}

/* Desktops (≥ 1280px) */
@media (min-width: 1280px) {
}
