* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.Projects {
  background-color: black;
  padding-top: 11vh;
  max-height: 100vh;
}
#proje-titel {
  text-align: center;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

#proje-titel p {
  padding-top: 0.8rem;
  padding-left: 0.3rem;
  font-size: x-small;
  max-width: 7.5rem;
  text-align: left;
}

.proj-img {
  width: 90%;
  margin: 0 auto;
  max-height: 100vh;
}

.proj-img-all {
  max-height: 80vh;
  overflow: auto;
  width: 90%;
  padding: 0;
  margin: 0;
}
.Coba {
  /* border: solid 1px; */
  height: 80vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-img .gbr-tit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proj-img .gbr-tit .row-judul {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #999;
}
.fixed-media {
  width: 18.75rem;
  /* height: 15rem;  */
  overflow: auto; /* Hide any overflow to maintain shape */
}

.media-element {
  object-fit: contain;
}
#video {
  width: 100%;
  height: 100%;
}

.proj-img .gbr-tit .row-subjudul {
  font-family: "Nunito", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  color: #444;
}

.proj-img .gbr-tit .row-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  color: #555;
  line-height: 1.4;
}

.proj-img img {
  width: 100%;
}

.below {
  transition: 0.5s ease-in-out;
  width: 18.75rem;
}

.proj-tech {
  display: inline-block;
  margin: 0.3rem;
}
.proj-tech p {
  display: inline;
  margin: 0.3rem;
}
.proj-tech svg {
  margin: 0.3rem;
}
.proj-tech svg {
  border-radius: 50%;
  display: inline;
  margin: 0.3rem;
}
.proj-tech svg:hover {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
  /* z-index: -9999; */
}

@media (max-width: 376px) {
  #proje-titel h1 {
    font-size: xx-large;
  }
  #proje-titel p {
    font-size: xx-small;
    padding-top: 0;
    text-align: justify;
    width: 35%;
  }
  .proj-img {
    /* margin: 2rem; */
    max-width: 100vw;
  }
  .proj-img-all,
  .Coba {
    width: 100%;
    /* padding: 1rem 0; */
    max-width: 100vw;
  }
  .below {
    width: 90%;
    padding: 1rem;
  }
}
/* big mobile (≥ 1px) */
@media (min-width: 481px) {
}

/* tablet (≥ 768px) */
@media (min-width: 768px) {
  .Projects {
    max-height: none;
  }
  #proje-titel {
    flex-direction: column;
    padding: 3rem;
    padding-bottom: 0;
  }

  #proje-titel p {
    max-width: none;
    font-size: smaller;
  }
  .proj-img {
    max-height: none;
    width: 100%;
  }
  .proj-img-all {
    width: 100%;
    max-height: none;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  /* ...?? */
  .Coba {
    width: 40%;
    margin: 0.6rem;
  }

  /* ...?? */
  .gbr-tit {
    /* width: 400px; */
    height: 18.75rem;
  }
}

/* Small Laptops (≥ 1024px) */
@media (min-width: 1024px) {
  #proje-titel {
    height: 100vh;
    padding-top: 0;
  }
  .fixed-media,
  .below {
    width: 28.125rem;
    height: auto;
  }
  .Coba {
    width: 100%;
    margin: 0;
    height: 100vh;
  }
  .proj-img-all {
    margin: 0;
    padding: 0;
  }

  .gbr-tit {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .Coba:nth-child(2n) .Media-Player {
    order: 2;
  }
  .Coba:nth-child(2n) .below {
    order: 1;
  }
}

/* Desktops (≥ 1280px) */
@media (min-width: 1280px) {
}
